{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
<div class="row mt-4">
    <div class="col alert alert-primary bg-danger text-white text-center">
        <span class="h1">{{title}} ({{shops|length}})</span>
    </div>
</div>

{{super()}}

<div class="row">
    <div class="col col-md-3 offset-md-6">
        <input type="button" class="h3 mt-0 float-right text-center"
               value="{{buttonText}}" onclick="location.href='{{buttonLink}}'"/>
    </div>
</div>

<div class="container margin">
    <div class="row">
    <div class="col">
        <div class="row alert alert-warning bg-dark text-white">
            <span class="col col-4 mt-0 h3 text-center">Shop Name</span>
            <span class="col col-1 mt-0 h3 border-left border-light text-center">Rating</span>
            <span class="col col-3 mt-0 h3 border-left border-light text-left">Location</span>
            <span class="col col-1 mt-0 border-left border-dark h3 text-left">Related Items</span>
            <span class="col col-2 mt-0 border-left border-dark h3 text-left"></span>
        </div>
        {% for shop in shops %}
        <div class="row alert alert-warning">
            <input type="hidden" value={{ shop.shopId }}>
            <span class="col col-4 mt-0 h3 text-left">{{ shop.name }}</span>
            <span class="col col-1 mt-0 border-left border-dark h3 text-center">{{ shop.rating }}</span>
            <span class="col col-3 mt-0 border-left border-dark h3 text-left">{{ shop.location }}</span>
            <span class="col col-1 mt-0 border-left border-dark h3 text-left"><a href="/item/show?shopId={{ shop.shopId }}">{{ shop.qty }}</a></span>
            <span class="col col-2 mt-0 border-left border-dark h3 text-left"><a href="/item/add?shopId={{ shop.shopId }}">Add a new item</a></span>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{%- endblock %}
